rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for bookings collection
    match /bookings/{bookingId} {
      allow create, read, update, delete: if true;
    }

    // Rules for chat_messages collection
    match /chat_messages/{messageId} {
      allow create, read, update, delete: if true;
    }
  }
}
